[submodule "rabbit_order"]
	path = rabbit_order
	url = https://github.com/atrostan/rabbit_order.git
	branch = output-to-file

[submodule "dbg"]
	path = dbg
	url = https://github.com/atrostan/dbg.git
	branch = output-to-files

[submodule "ParallelBatchRCM"]
	path = ParallelBatchRCM
	url = https://github.com/atrostan/ParallelBatchRCM.git
	branch = custom-io
	
[submodule "par_slashburn"]
	path = par_slashburn
	url = https://github.com/atrostan/par_slashburn.git
	branch = main

[submodule "peregrine"]
	path = peregrine
	url = https://github.com/atrostan/peregrine.git
	branch = master

[submodule "webgraph"]
	path = webgraph
	url = https://github.com/atrostan/webgraph.git
    branch = master
[submodule "Corder-TPDS-21"]
	path = Corder-TPDS-21
	url = https://github.com/atrostan/Corder-TPDS-21.git
[submodule "pcpm"]
	path = pcpm
	url = https://github.com/kartiklakhotia/pcpm.git
