[submodule "rabbit_order"]
	path = rabbit_order
	url = git@github.com:atrostan/rabbit_order.git
	branch = output-to-file

[submodule "dbg"]
	path = dbg
	url = git@github.com:atrostan/dbg.git
	branch = output-to-files

[submodule "ParallelBatchRCM"]
	path = ParallelBatchRCM
	url = git@github.com:atrostan/ParallelBatchRCM.git
	branch = custom-io
[submodule "par_slashburn"]
	path = par_slashburn
	url = git@github.com:atrostan/par_slashburn.git
