[submodule "rabbit_order"]
	path = rabbit_order
	url = https://github.com/atrostan/rabbit_order.git
	branch = output-to-file

[submodule "dbg"]
	path = dbg
	url = https://github.com/atrostan/dbg.git
	branch = output-to-files

[submodule "ParallelBatchRCM"]
	path = ParallelBatchRCM
	url = https://github.com/atrostan/ParallelBatchRCM.git
	branch = custom-io
	
[submodule "par_slashburn"]
	path = par_slashburn
	url = https://github.com/atrostan/par_slashburn.git
	branch = main